In [1]:
import pandas as pd
import psycopg2

In [8]:
# Connect to PostgreSQL

conn = psycopg2.connect(
    host="localhost",
    database="bank_reviews",
    user="postgres",
    password="password"
)

In [9]:
# Define a Helper Function to Run SQL and Return DataFrame

def run_query(sql):
    return pd.read_sql(sql, conn)

In [10]:
sql = "SELECT * FROM Banks;"

run_query(sql)

C:\Users\USER\AppData\Local\Temp\ipykernel_24524\1241105332.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

   bank_id bank_name     app_name
0       31       CBE  Google Play
1       32       BOA  Google Play
2       33    Dashen  Google Play

In [11]:
sql = "SELECT * FROM Reviews;"

run_query(sql)

C:\Users\USER\AppData\Local\Temp\ipykernel_24524\1241105332.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,review_id,bank_id,review_text,rating,review_date,sentiment_label,sentiment_score,identified_theme,source
0,1,31,good,5,2025-11-30,POSITIVE,0.9998,General Feedback,Google Play
1,2,31,CBE ይለያል።,5,2025-11-29,POSITIVE,0.9886,General Feedback,Google Play
2,3,31,it's special for me,5,2025-11-29,POSITIVE,0.9998,General Feedback,Google Play
3,4,31,Make it user friendly.,2,2025-11-29,POSITIVE,0.9921,UI/UX & Design,Google Play
4,5,31,maaliif daddafee install gaafata,3,2025-11-28,NEGATIVE,-0.0124,General Feedback,Google Play
...,...,...,...,...,...,...,...,...,...
1495,1496,33,"Dashen Bank Super App is fast, reliable, and s...",5,2025-04-21,POSITIVE,0.9998,Transaction Performance,Google Play
1496,1497,33,Db sup app is A platform or an application tha...,5,2025-04-21,POSITIVE,0.8948,Transaction Performance,Google Play
1497,1498,33,the chat banking and unique and only app that ...,5,2025-04-21,NEGATIVE,-0.0177,General Feedback,Google Play
1498,1499,33,Better and inclusive app!,5,2025-04-21,POSITIVE,0.9993,General Feedback,Google Play
1499,1500,33,Amazing Application,5,2025-04-21,POSITIVE,0.9999,General Feedback,Google Play

In [12]:
# Count reviews per restaurant
sql = """
SELECT b.bank_name, COUNT(r.review_id) AS total_reviews
FROM Reviews r
JOIN Banks b ON b.bank_id = r.bank_id
GROUP BY b.bank_name
ORDER BY total_reviews DESC;
"""

run_query(sql)

C:\Users\USER\AppData\Local\Temp\ipykernel_24524\1241105332.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

  bank_name  total_reviews
0       BOA            500
1    Dashen            500
2       CBE            500

In [13]:
# Average rating per restaurant
sql = """
SELECT b.bank_name, ROUND(AVG(r.rating), 2) AS avg_rating
FROM Reviews r
JOIN Banks b ON b.bank_id = r.bank_id
GROUP BY b.bank_name
ORDER BY avg_rating DESC;
"""

run_query(sql)

C:\Users\USER\AppData\Local\Temp\ipykernel_24524\1241105332.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

  bank_name  avg_rating
0       CBE        4.10
1    Dashen        4.09
2       BOA        3.31